body {
  background-image: url("../images/quizmaster.jpg");
  background-color: powderblue;
  font-family: verdana;
}
h1 {
    color: green;
    text-align: center;
}
h2 {
    color: green;
    text-align: center;
}
h3 {
    color: green;
    text-align: center;
}
h4 {
    color: green;
    text-align: center;
}

#quizMaster-container {
  width: 70%;
  height: 200vh;
  margin: auto;
  text-align: center;
  display: block;
  justify-content: space-around;
  align-items: stretch;
}

#quizMaster-container p {
  color: green;
  font-family: verdana;
  font-size: 1.5em;
  font-weight: bold;
}
